
/* Tablet - Width 770px */

@media (max-width: 770px) {
    .first__container {
    position: relative;
    }

    .second__container {
        position: absolute;
        width: 550px;
        max-width: 770px;

        align-content: center;
    

    }

    .group__products {
        max-width: 170px;
    } 

    .img__product {
        max-width: 160px;
    }

    .product__title {
        font-size: 13px;
    }

    .product__price {
        font-size: 15px;
    }

    .circle{
   
        align-items: center;
        height: 25px;
        width: 25px;
    }

    .image {
        justify-content: center;
    }

    .img {
        height: 15px;
        width: 14px
    }

    .hoverImg {
        height: 15px;
        width: 14px 
    }
}



/* Mobile L - Width: 430px */

@media (max-width: 430px) {
/*     .group__products {
        display: inline;
        flex-wrap: wrap;
        max-width: 10px;
    }  */
}